.sidebar{
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	padding-top: 60px;
	cursor: pointer;
	flex: 0.15;
	height: 1080px;
	box-shadow: 14.0351px 0px 25px rgba(86, 128, 248, 0.03), 35.0877px 0px 70px rgba(86, 128, 248, 0.05), 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02);
}

.avatar{ 	
	position: absolute;
	width: 96px;
	height: 96px;
}

.user{
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.name{
	height: 22px;
	padding-left: 20px;
	display: flex;
	align-items: center !important;
	color: #0D1C2E;
	margin-top: 10px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 14px;
	text-align: center;
	justify-content: center;
}


.nav__links{
	flex: 1;
	margin-top: 200px;
}

.logout{
	/*
	position: fixed;
	bottom: 0px;
	*/
	position: sticky;
	top: 1000px;
	padding-bottom: 10px;
}
